<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Listeners.TmpSuiteListener" />
        <listener class-name="Listeners.TmpTestListener" />
    </listeners>
    <test name="Chrome Test" preserve-order="false">
        <classes>
            <class name="MonumentCity.MonumentCityTest">
                <methods>
                    <include name="paramByDataProvider"/>
                    <include name="mapSearch"/>
                </methods>
            </class>
            <class name="LoginPass.LoginPassTest">
                <methods>
                    <include name="loginByDataProvider"/>
                    <include name="checkRightCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
